@switch (selectedTab()) {
  @case ('library') {
    <div style="
      display: flex;
      flex-direction: column;
      overflow: hidden;
      gap: 1ex;">
      <app-library (loadPreset)="loadPreset($event)" />
      @if (array().citation) {
        <app-info [array]="array()" />
      }
    </div>
  }
  @case ('export') {
    <app-export />
  }
  @default {
    <div style="overflow-y: scroll">
    <mat-accordion multi>
      <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
              <mat-panel-title data-testid="section-environment">
                  Environment
              </mat-panel-title>
              {{ environment().environmentHint }}
          </mat-expansion-panel-header>
      <app-environment />
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title data-testid="section-environment">
                Excitation
            </mat-panel-title>
            {{ environment().excitationFrequencyBase }} {{ environment().excitationFrequencyMultiplier }}
        </mat-expansion-panel-header>
        <app-excitation />
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title data-testid="section-transducer">
                Transducer
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-transducer />
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
              <mat-panel-title data-testid="section-arrayconfig">
                Array config
              </mat-panel-title>
            </mat-expansion-panel-header>
          <app-array-config />
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
              <mat-panel-title data-testid="section-beamforming">
                  Beamforming
              </mat-panel-title>
              @if (beamformingEnabled() === false) {
                  <mat-icon aria-hidden="false" aria-label="hidden-icon" fontIcon="do_not_disturb_on" />
                }
          </mat-expansion-panel-header>
          <app-beamforming /> 
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  }
}
<div style="text-align: center; display: flex; flex-direction: column; gap: 1ex">
  <mat-button-toggle-group hideSingleSelectionIndicator [(ngModel)]="selectedTab" style="--mdc-density-scale: 0">
    <mat-button-toggle value="library" class="bigTab"><mat-icon>book_5</mat-icon>Library</mat-button-toggle>
    <mat-button-toggle value="setup" class="bigTab"><mat-icon>tune</mat-icon>Array Setup</mat-button-toggle>
    <mat-button-toggle value="export" class="bigTab"><mat-icon>ios_share</mat-icon>Export</mat-button-toggle>
  </mat-button-toggle-group>
  
  <a aria-label="View project on GitHub" href="https://github.com/axeljaeger/phased" target="_blank">
    <div class="github-section">
        Phased Array Design Tool v{{ version }}
            <img src="assets/github-mark-white.svg" alt="GitHub" width="16" />
    </div>
  </a>
</div>