<div class="mat-headline-6">Simulation setup</div>
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title data-testid="section-environment">
                Environment
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Air, c = 434 m/s</p>
    </mat-expansion-panel>
    <app-array-config />
    <app-transducer-list />
    <app-beamforming />
    <div class="mat-headline-6">Results</div>
    <mat-accordion>
        <app-rayleigh />        
        <app-farfield />
        <app-chart />
    </mat-accordion>