  <router-outlet />
  <nav>
    <a routerLink="library" routerLinkActive="active"><mat-icon>book_5</mat-icon>Library</a>
    <a routerLink="setup" routerLinkActive="active"><mat-icon>tune</mat-icon>Array Setup</a>
  </nav>
  <a aria-label="View project on GitHub" href="https://github.com/axeljaeger/phased" target="_blank">
    <div class="github-section">
        Phased Array Design Tool v{{ version }}
            <img src="assets/github-mark-white.svg" alt="GitHub" width="16" />
    </div>
  </a>
