<mat-checkbox [formControl]="rayleighVisible" class="span-all">Visible</mat-checkbox>
  Aspect:
  <mat-button-toggle-group [formControl]="rayleighAspect" hideSingleSelectionIndicator>
    <mat-button-toggle [value]="ResultAspect.Elongation">Re</mat-button-toggle>
    <mat-button-toggle [value]="ResultAspect.Amplitude">abs</mat-button-toggle>
    <mat-button-toggle [value]="ResultAspect.Phase">arg</mat-button-toggle>
  </mat-button-toggle-group>
  Result set:
  <mat-button-toggle-group [formControl]="resultSet" hideSingleSelectionIndicator>
      <mat-button-toggle [value]="ResultSet.XZPlane">XZ</mat-button-toggle>
      <mat-button-toggle [value]="ResultSet.YZPlane">YZ</mat-button-toggle>
      <mat-button-toggle [value]="ResultSet.CutCube">Cube</mat-button-toggle>
  </mat-button-toggle-group>
