<div class="sidebar-panel" style="padding: 2ex; display: flex; flex-direction: column; gap: 2ex">
    <section>
      Transducer positions
      <div>
        <button mat-icon-button color="primary"><mat-icon>download</mat-icon></button>
        <button mat-icon-button color="primary"><mat-icon>content_copy</mat-icon></button>
      </div>
    </section>
    <section>
      Chart data
      <div>
        <button mat-icon-button color="primary" (click)="download()"><mat-icon>download</mat-icon></button>
        <button mat-icon-button color="primary"><mat-icon>content_copy</mat-icon></button>
      </div>
    </section>
  </div>