<mat-card>
  <mat-card-header>
    <mat-card-title>Transducer positions</mat-card-title>
    <mat-card-subtitle>Export transducer positions for manufacturing</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Export transducer positions as file or copy to clipboard.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary"><mat-icon>download</mat-icon></button>
    <button mat-icon-button color="primary" (click)="copyTransducerPositions()"><mat-icon>content_copy</mat-icon></button>  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Charts data</mat-card-title>
    <mat-card-subtitle>Export results</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox
      [(ngModel)]="formatToLocale">
      Format to locale
    </mat-checkbox>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="download()"><mat-icon>download</mat-icon></button>
    <button mat-icon-button color="primary" (click)="copyCharts()"><mat-icon>content_copy</mat-icon></button>
  </mat-card-actions>
</mat-card>