:host {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1ex;
}

.text {
    color: var(--mat-card-subtitle-text-color);
    font-style: italic; // Doesnt work
    font-size: 12pt;
}