<table>
    <tr>
        <th></th>
        <th>HPBW</th>
        <th>FNBW</th>
        <th>SLR</th>
    </tr> 
    <tr>
      <th>{{ resultRows()[0][0] }}</th>
      <td (mouseover)="hoveredKpi.emit('HpbwAz')" (mouseout)="hoveredKpi.emit('')">{{ resultRows()[0][1] | number:'1.0-2' }}°</td>
      <td (mouseover)="hoveredKpi.emit('FnbwAz')" (mouseout)="hoveredKpi.emit('')">{{ resultRows()[0][2] | number:'1.0-2' }}°</td>
      <td (mouseover)="hoveredKpi.emit('SlrAz')" (mouseout)="hoveredKpi.emit('')">{{ resultRows()[0][3] | number:'1.0-2' }}</td>
    </tr>
    <tr>
      <th>{{ resultRows()[1][0] }}</th>
      <td (mouseover)="hoveredKpi.emit('HpbwEl')" (mouseout)="hoveredKpi.emit('')">{{ resultRows()[1][1] | number:'1.0-2' }}°</td>
      <td (mouseover)="hoveredKpi.emit('FnbwEl')" (mouseout)="hoveredKpi.emit('')">{{ resultRows()[1][2] | number:'1.0-2' }}° </td>
      <td (mouseover)="hoveredKpi.emit('SlrEl')" (mouseout)="hoveredKpi.emit('')">{{ resultRows()[1][3] | number:'1.0-2' }}</td>
    </tr>
</table>
