:host {
    display: flex;
    flex-direction: column;
}

mat-button-toggle-group {
    align-self: flex-end;
}

td {
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color: #222222;
    border-radius: 0.5ex;
}

th {
    min-width: 4ex;
}