<mat-expansion-panel hideToggle *ngrxLet="transducers$ as transducers">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Tranducers
        </mat-panel-title>
        <mat-panel-description data-test-id="numTransducers">
            {{ transducers.length}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let transducer of transducers; index as index" (mouseover)="setTransducerHovered(index)" mouseleave="clearTransducerHighlight()">
            {{transducer.name}}
        </mat-list-option>
    </mat-selection-list>
</mat-expansion-panel>