<form class="config-container" [formGroup]="arrayConfig">
  <mat-button-toggle-group formControlName="type" class="span-all small-button-toggle-group" style="justify-self: end" hideSingleSelectionIndicator>
    <mat-button-toggle value="ura">
      URA
    </mat-button-toggle>
    <mat-button-toggle value="hex">
      Hex
    </mat-button-toggle>
    <mat-button-toggle value="circular">
      Circular
    </mat-button-toggle>
    <mat-button-toggle value="spiral">
      Spiral
    </mat-button-toggle>
  </mat-button-toggle-group>
  @switch (arrayConfig.controls['type'].value) {
  @case ('ura') {
    <span class="span-all">Element count:</span>
    <mat-form-field>
      <mat-label>x</mat-label>
      <input matInput data-test-id="elementsX" type="number" formControlName="elementsX" min="1" max="16">
    </mat-form-field>
    <mat-form-field>
      <mat-label>y</mat-label>
      <input matInput data-test-id="elementsY" type="number" formControlName="elementsY" min="1" max="16">
    </mat-form-field>
    <span class="span-all">Element distance:</span>
    <mat-form-field>
      <mat-label>x</mat-label>
      <input matInput type="number" data-test-id="pitchX" formControlName="pitchX" min="0" max="100" step="0.01">
      <span matSuffix style="margin-right: 1ex">mm</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>y</mat-label>
      <input matInput type="number" data-test-id="pitchY" formControlName="pitchY" min="0" max="100" step="0.01">
      <span matSuffix style="margin-right: 1ex">mm</span>
    </mat-form-field>
  }
  @case ('hex') {
    <mat-form-field>
      <mat-label>Elements</mat-label>
      <input matInput type="number" formControlName="elements" min="1" max="16">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pitch</mat-label>
      <input matInput type="number" formControlName="pitch" min="0" max="100" step="0.01">
      <span matSuffix style="margin-right: 1ex">mm</span>
    </mat-form-field>
    <mat-checkbox formControlName="omitCenter" class="span-all">Omit center</mat-checkbox>
  }
  @default {
    <mat-form-field>
      <mat-label>Count</mat-label>
      <input matInput data-test-id="elementCount" type="number" formControlName="elementCount" min="1" max="2048">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Diameter</mat-label>
      <input matInput type="number" data-test-id="diameter" formControlName="diameter" min="0" max="10" step="0.01">
      <span matSuffix style="margin-right: 1ex">m</span>
    </mat-form-field>
    @if(arrayConfig.controls['type'].value === 'spiral') {
    <mat-checkbox class="span-all" formControlName="startWithZero">Start with element 0</mat-checkbox>
    }
  }
}
</form>