.config-container {
    display: grid;
    grid-template-columns: fr fr;
    align-items: baseline;
    gap: 1ex;
}

.span-all {
    grid-column: 1 / 3;
}

mat-button-toggle-group {
    margin-bottom: 1ex;
}

input {
    text-align: right;
}