<svg [attr.viewBox]="bb()" style="height: 150px; width: 150px">
   <defs>
  <defs>
    <!-- normiertes Kreuz: -1..+1, Mittelpunkt = (0,0) -->
    <symbol id="cross" viewBox="-1 -1 2 2">
      <line x1="-1" y1="-1" x2="1" y2="1"
            stroke="crimson" [attr.stroke-width]="2"
            vector-effect="non-scaling-stroke"/>
      <line x1="1" y1="-1" x2="-1" y2="1"
            stroke="crimson" [attr.stroke-width]="2"
            vector-effect="non-scaling-stroke"/>
    </symbol>
  </defs>
  </defs>


    @let arrayDia = arrayDiameter();
    @if (arrayDia !== null) {
        <circle [attr.r]="arrayDia / 2" style="fill: none; stroke: gray; stroke-width: 0.0001" />
    }

    @switch(transducerModel()) {
        @case ('Point') {
            @for (point of transducersMapped(); track point) {
                <use href="#cross" 
                    [attr.x]="point.pos.x - crossSize() / 2" [attr.y]="point.pos.y - crossSize() / 2" 
                    [attr.width]="crossSize()" [attr.height]="crossSize()"
                />
            }
        }
        @case ('Piston') {
            @for (point of transducersMapped(); track point) {
                <circle 
                [attr.cx]="point.pos.x"
                [attr.cy]="point.pos.y"
                [attr.r]="transducerDiameter() / 2"
                fill="#888888"/>
            }
        }
    }



</svg>