<ng-container [formGroup]="fg">
  <mat-checkbox formControlName="beamformingEnabled" class="span-all">Enabled</mat-checkbox>
  <app-joystick (position)="setAzEl($event)" [disabled]="!beamformingEnabled()" [positionInput]="beamforming()" class="span-all"/>
  <mat-form-field>
    <mat-label>AZ</mat-label>
    <input matInput type="number" min="-180" max="180" step="0.1" formControlName="az">
    <span matTextSuffix>°</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>EL</mat-label>
    <input matInput type="number" min="-180" max="180" step="0.1" formControlName="el">
    <span matTextSuffix>°</span>
  </mat-form-field>
</ng-container>
<button type="button" mat-raised-button color="primary" (click)="resetBeamforming()" class="span-all">Reset</button>