<ng-container [formGroup]="form">
    <mat-button-toggle-group hideSingleSelectionIndicator formControlName="multiplier">
        <mat-button-toggle [value]="Multiplier.Hz">
          Hz
        </mat-button-toggle>
        <mat-button-toggle [value]="Multiplier.kHz">
          kHz
        </mat-button-toggle>
        <mat-button-toggle [value]="Multiplier.MHz">
          MHz
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field>
        <mat-label>Frequency</mat-label>
        <input matInput type="number" formControlName="excitationFrequencyBase" min="0" step="1">
        <span matSuffix style="margin-right: 1ex; min-width: 3ex;">{{ environment().multiplier }}</span>
    </mat-form-field>
</ng-container>

