<ng-container [formGroup]="transducerConfig">
<mat-button-toggle-group formControlName="transducerModel" class="span-all small-button-toggle-group" style="align-items: end" hideSingleSelectionIndicator>
<mat-button-toggle value="Point">
    Point source
</mat-button-toggle>
<mat-button-toggle value="Piston">
    Piston transducer
</mat-button-toggle>
</mat-button-toggle-group>
@switch (transducerModel()) {
    @case ('Point') {
       Transducers are point sources.
    }
    @case ('Piston') {
<mat-form-field>
    <mat-label>Diameter</mat-label>
    <input matInput type="number" formControlName="transducerDiameter" min="0" max="5000" step="0.01">
    <span matSuffix style="margin-right: 1ex">mm</span>
</mat-form-field>    
    }
}
</ng-container>