:host {
    border-width: 0;
    background-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
    border-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
    border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
    box-shadow: var(--mat-card-elevated-container-elevation, var(--mat-sys-level1));
    display: flex;
    flex-direction: column;
    padding: 1ex;
}

.authors {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5ex;
    color: #e6e1e6;
}

.title {
    color: var(--mat-card-subtitle-text-color);
    font-size: 16px;
    line-height: normal;
    font-style: italic;
}

.title {
  position: relative;
  cursor: pointer;
  padding-right: 1.5em;   /* Platz für das Icon in der Box */
}

.title:hover {
  background-color: #222222;
  border-radius: 0.5ex;
}

.title::after {
  content: "folder_open";
  font-family: 'Material Icons';
  font-style: normal;
  position: absolute;
  right: 0.2em;            /* innerhalb der Box platzieren */
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.title:hover::after {
  opacity: 1;
}

a, a:visited, a:active {
    color: #e6e1e6;
    text-decoration: underline;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}