/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

html {
    scrollbar-color: rgb(36, 36, 36) transparent;
    scrollbar-width: thin;
    @include mat.all-component-themes($theme);
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}

html, body { height: 100%; }
body {
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container {
  scrollbar-gutter: stable;
  overflow-x: clip !important;
}

.sidebar-panel {
  background-color: var(--mat-sidenav-content-background-color);
  display: block;
  border-radius: 12px;
}

:root {
  @include mat.card-overrides((
    elevated-container-color: var(--mat-sys-surface),
  ));
  --mdc-list-list-item-hover-leading-icon-color: var(--mat-full-pseudo-checkbox-selected-icon-color);
}

.mat-expansion-panel-body {
  mat-button-toggle-group {
    @include mat.button-toggle-density(-5);
    margin-bottom: 1ex;
  }

  mat-form-field {
    @include mat.form-field-density(-5);
  }

  input {
    text-align: right;
  }
}