<app-babylon-jsview *rxLet="vm$; let shared">
  <app-excitation-renderer [transducers]="shared.transducers" [selection]="shared.selection"
    (hovered)="transducerHovered($event)"
    (pitchX)="setPitchX($event)"
    (pitchY)="setPitchY($event)"
    (scale)="setScale($event)"/>
    <app-beamforming-renderer (az)="setAz($event)" (el)="setEl($event)" />
    <app-transducer-buffer [transducers]="shared.transducers" [beamforming]="shared.beamforming" [k]="k$ | async">
      @if (rayleighEnabled$ | async) {
        <app-rayleigh-integral-renderer
          [transducers]="shared.transducers" [environment]="shared.environment" [aspect]="rayleighAspect$ | async" />
      }
      @if (farfieldEnabled$ | async) {
        <app-farfield-renderer [transducers]="shared.transducers"
          [environment]="shared.environment" />
      }
      <ng-content/>
    </app-transducer-buffer>
  </app-babylon-jsview>