<app-babylon-jsview>
  <app-excitation-renderer 
    [transducers]="transducers()" 
    [selection]="selection()" 
    [transducerDiameter]="arrayConfig().transducerDiameter"
    (hovered)="transducerHovered($event)" />

  @if (ura()) {
    <app-ura-interaction [arrayConfig]="arrayConfig()" (arrayConfigChange)="setArrayConfig($event)" />
  }

  <app-transducer-buffer [transducers]="transducers()" [beamforming]="beamforming()" [k]="k()">
    @if (rayleighEnabled()) {
      <app-rayleigh-integral-renderer [transducers]="transducers()" [environment]="arrayConfig().environment"
        [aspect]="rayleighAspect()" [resultSet]="rayleighResultSet()" />
    }

    @if (farfieldEnabled()) {
      <app-farfield-renderer [transducers]="transducers()" [environment]="arrayConfig().environment" />
    }
    <app-export-renderer [transducers]="transducers()" [environment]="k()" (results)="onNewResults($event)"
      [beamforming]="beamforming()" />
  </app-transducer-buffer>
  <ng-content />
</app-babylon-jsview>